/*navbar*/


/* #logo {
    height: 75px;
    margin-left: 10px;
} */

.navbar {
    /* border: solid black 2px; */
    background-color: #e3f2fd;
}


/*size 768px and bigger*/

@media only screen and (min-width:768px) {
    body {
        background-color: greenyellow;
    }
}


/*size 900px and bigger*/

@media only screen and (min-width:992px) {
    body {
        background-color: orange;
    }
}


/*size 1200px and bigger*/

@media only screen and (min-width:1200px) {
    body {
        background-color: rgb(201, 54, 54);
    }
}