.container-fluid {
    background-color: rgba(239, 252, 255, 0.95);
    margin: 30px 20px;
    border: 1px solid black;
    padding: 25px;
}

.carousel-inner>.carousel-item>img {
    margin: 0 auto;
    transform: translateX(5%);
    min-width: 100%;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}

body {
    color: red;
}